
.account-invoice

  %h1.text-primary Settings
  %p Create, update and delete invoice settings



  .account-settings

    =render 'account/settings/content'

    .form-view.col-lg-6.col-md-6.pull-right


