
.account-invoice

  .row

    %h1.text-primary Settings
    %p Create, update and delete your invoice menu options
    = link_to '<i class="fa  fa-list-alt"> New Invoice</i>'.html_safe, account_invoices_path,
                    :class => 'btn btn-default btn-lg', id: 'new-invoice-btn'
    %br
    = link_to '<i class="fa  fa-list-alt"> Show Invoice</i>'.html_safe, account_invoice_path(26),
                      :class => 'btn btn-default btn-lg', id: 'invoice-btn'

  .row

    .account-settings

      =render 'account/settings/content'

      .form-view.col-lg-5.col-md-5.pull-right.offset-1







