@import "variables";

body {
  padding-top: 5%;
}

//Facebook like button
.fb-like {
  position: absolute;
  top: -10px;
  left: 10px;
  z-index: 2100;
}
//Home page name of artist
#artist-name {
  position: absolute;
  top: 12%;
  left: 20%;
  letter-spacing: 5px;
  z-index: -1;
}
#bandsintown {
  z-index: -1;
}
//Links to Social Media and Contact
#contact-links {
  position: absolute;
  top: 60%;
  left: -10px;
  width: 50px;
  z-index: 2000;
  & i {
    text-align: center;
    clear: both;
    height: 40px;
    width: 40px;
  }
  & i:hover {
    color: darken(@brand-primary, 10%);
  }
}

// Center the navigation bar
@media (min-width: 768px) {
  .navbar .navbar-nav {
    margin-top: 30px;
    display: inline-block;
    float: none;
  }

  .navbar .navbar-collapse {
    text-align: center;
    background-color: transparent;
    border: 1px solid grey;
  }
}
.navbar-nav {
  width: 600px;
}

//** Background color for `<body>`.
@body-bg: transparent;

@navbar-inverse-bg: transparent;
@navbar-inverse-color: black;

@image-bg: '/assets/jess-lake.jpg';
//'http://farm3.static.flickr.com/2857/12707420595_d1bc23ca0b_b.jpg';

// Inverted navbar links
@navbar-inverse-link-color: #fff;
@navbar-inverse-link-hover-color: #fff;
@navbar-inverse-link-hover-bg: grey;
@navbar-inverse-link-active-color: @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg: pink;
@navbar-inverse-link-disabled-color: #aaa;
@navbar-inverse-link-disabled-bg: transparent;

.navbar li {
  width: 100px;
  text-align: center;
  letter-spacing: 2px;
}

.nav-border-left {
  border-right: 1px solid lightgrey;
}

.nav-border-top {
  border-top: 1px solid lightgrey;
}

.dropdown-menu {
  background-color: transparent !important;
  min-width: 100px !important;
}

html {
  background-image: url(@image-bg);
  background-color: grey;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;

  /*Add the browser prefixed CSS first:*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  /*Then add the CSS property:*/

  background-size: cover;
}

#page-content {
  padding-top: 40px;
}

#ajax-content {
  position: absolute;
  top: 40%;
  left: 10%;
  width: auto;
  z-index: 1080;
}

.help-inline {
  margin-left: 5px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  z-index: 999;
}

.intro {
  display: none;
  padding-top: 30px;
  & iframe,
  & object,
  & embed {
    position: absolute;
    top: 50px;
    left: 0;
    width: 75%;
    height: 75%;
    margin-left: 12%;
  }
}

.video-player {
  padding-top: 30px;
  & iframe, & object, & embed {
    position: absolute;
    top: 20px;
    left: 0;
    width: 75%;
    height: 75%;
    margin-left: 12%;
  }
}

#outer {
  width: auto;
  height: auto;
}

#intro-close {
  float: right;
  margin-right: 10%;
  width: 4%;
  height: auto;
  z-index: 2000;

  &:hover {
    opacity: 0.8;
  }
}

#ytplayer {
  z-index: -1;
}

#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.6;
}

.buy-link {
  display: inline-block;
  &:hover {
    opacity: 0.8;
  }
}

.bx-wrapper {
  margin-top: 30px !important;
  margin-bottom: 0px !important;
}

.bx-pager-item {
  display: none !important;
}

.bxslider li {
  padding-bottom: 10px;
}

.photo-gallery {
  max-width: 900px;
  margin: auto;
  height: auto;
  & li {
    list-style: none;
    width: auto;
    height: auto;
    margin: 2px;
    display: inline-block;
    border: 3px solid transparent;
    &:hover {
      cursor: pointer;
      border-color: blueviolet;
    }
  }
}


.large-photo {
  position: fixed;
  top: 20%;
  list-style: none;
  border: 1px solid lightgrey;
  border-radius: 7px;
  width: auto;
  background-color: #F8F8F8;
  z-index: 999;
  display: none;
  &:hover {
    cursor: pointer;
    opacity: pointer;
  }
}

.large-photo img {
  padding: 20px;
  max-width: 800px;
  max-height: 500px;
  height: auto;
  position: relative;
}

#loader {
  position: absolute;
  top: 20%;
  left: 50%;
}

#bandsintown {
  position: absolute;
  top: 80%;
  left: 5%;
}

.fb-post {
  float: right;
  width: 350px;
}


#bio-text {
  text-align: justify;
  color: #D8D8D8;
  font-weight: normal;
}

#bio-image1 {
  float: left;
  padding: 0 0 10px 0;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  #bio-image1 {
    max-width: 50%;
    padding-right: 10px;
  }
}

#bio-image2 {
  float: right;
  padding: 0px 0 10px 10px;
  max-width: 50%;
  vertical-align: middle;
}
.settings_bio1, .settings_bio2 {
  display: inline-block;
}

//Forms
.form-inputs label {
  color: #ffffff;
}

.control-group {
  margin-top: 10px;
}

.bio-text-input {
  width: 400px;
  height: 350px;
  margin-right: 20px;
}

#latest-news {
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  min-height: 500px;
  width: auto;
  max-width: 850px;
  background-color:#FFF;
  z-index: 5000;
  margin: 0 auto;
  display: none;
  position: relative;
}
.close-x {
  position: absolute;
  top: -4%;
  left:97%;
  z-index: 3000;
}


@media screen and (max-width: 970px) {
  #latest-news {
    width: 400px;
  }
  #facebook-embed {
    margin-top: 20px;
  }
}

#twitter-feed {
  float: left;
  z-index: 5000;
}

#show-latest-news {
  position: absolute;
  top: 75%;
  left: 70%;
}
@media screen and (max-width: 970px) {
  #show-latest-news {

  }
}

#bandsintown {
  text-align: center;
}