

// EDIT FORM

%h4 Edit

=simple_form_for @description, url: {controller: 'descriptions', action: 'update'}, remote: true do |f|

  =f.input :text, autofocus: true, label: false, placeholder: 'description'

  %br
  =f.button :submit, 'Update', class: 'btn-default'




