
// NEW FORM

%h4 New

=simple_form_for @description, url: {controller: 'descriptions', action: 'create'}, remote: true do |f|

  =f.input :text, autofocus: true, label: false, placeholder: 'description'
  %br
  =f.button :submit, 'Create New', class: 'btn-default'


