<div id="invoice-form" class="container account-invoice">

    <div class="row">
      <div id="logo">
        <img src="">
      </div>
      <div class="pull-right" id="invoice-header">
        <h1 class="text-primary">INVOICE</h1>

        <div id="invoice-sub-header" class="pull-right">
          <p>28 Oct 12014</p>

          <p>No: 56566ert</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="address" id="invoice-details">
        <p class="text-primary">Bill From:</p>

      </div>
    </div>
    <div class="row">
      <div id="debtor-details">
        <p class="text-primary">Bill To:</p>
        <%= @debtor.name %>
      </div>
    </div>
    <div class="row">
      <div id="invoice-details">
        <table class="table">
          <thead>
          <tr>
            <th width="15%"><div id="item">Item</div></th>
            <th width="30%"><div id="description">Description</div></th>
            <th width="10%"><div id="date">Date</div></th>
            <th width="10%"><div id="price">Price</div></th>
            <th width="10%"><div id="total">Total</div></th>
          </tr>
          </thead>
          <tbody>
          <tr class="table-data">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="right-align">$200</td>
          </tr>
          <tr>
            <td class="right-align" colspan="4">GST</td>
            <td class="right-align" colspan="">$0</td>
          </tr>
          <tr>
            <td class="right-align" colspan="4">Total</td>
            <td class="right-align" colspan="">$0</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


</div>

