

<%= link_to '<i class="fa  fa-mail-forward"> Mail pdf</i>'.html_safe, account_invoices_path,
            :class => 'btn btn-default btn-lg', id: 'settings-btn' %>


<% url_path = "show/#{params[:id]}.pdf" %>

<div id="loadingMessage">Loading...</div>
<iframe src= <%= "/pdf?file=account/invoices/#{url_path}" %> width="800" height="800" id="foo"></iframe>



<script>

  $('.viewerContainer').append($('<p>').html('LOADING'));

    $('#foo').load(function () {
        $('#loadingMessage').hide();
    });

</script>

<style>
  .progress {
      z-index: 60000;
      color: red;
  }
</style>