<div id="invoice-form" class="container account-invoice">

      <div id="invoice-print">

        <div class="row">
          <div id="logo"></div>
          <div class="pull-right" id="invoice-header">
            <h1 class="text-primary">INVOICE</h1>

            <div id="invoice-sub-header" class="pull-right">
              <p><%= @date %></p>

              <p>No: 56566ert</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="address" id="biller-details">
            
            <div id="biller"></div>
          </div>
          <div id="debtor-details">
            <p class="text-primary">Bill To:</p>

            <div id="debtor"></div>
          </div>
        </div>

        <!-- Table-->
        <div class="row">
          <div id="invoice-details">

            <div id="bank-details">
              <p class="text-primary">Bank Account Details:</p>

            </div>


            <table class="table">

              <thead>
              <tr>
                <th id="item">
                  <div>Item</div>
                </th>
                <th id="description">
                  <div>Description</div>
                </th>
                <th id="date">
                  <div>Date</div>
                </th>
                <th id="price">
                  <div>Price</div>
                </th>
                <th id="total">
                  <div>Total</div>
                </th>
              </tr>
              </thead>

              <tbody>

              <tr class="table-data">
                <td></td>
                <td></td>
                <td></td>
                <td class="right-align">
                  <div class="calc">
                    <span class="dollar">$</span>
                  </div>
                </td>
                <td class="right-align">
                  <div class="calc"><span class="dollar">$</span><span id="sub-total"></span></div>
                </td>
              </tr>

              <tr>
                <td class="right-align" colspan="4">
                  <div class="td-text">GST Included</div>
                </td>
                <td class="right-align">
                  <div class="calc"><span class="dollar">$</span><span id="tax-calc">na</span></div>
                </td>
              </tr>

              <tr>
                <td class="right-align" colspan="4">
                  <div class="td-text">Invoice Total</div>
                </td>
                <td class="right-align">
                  <div class="calc"><span class="dollar">$</span><span id="total-calc"></span></div>
                </td>
              </tr>

              </tbody>

            </table>

          </div>
          <!--END table-->
        </div>
      </div>





</div><!--END invoice-form-->




