


%h3.text-danger Delete?

.form-sm

  %u You are about to delete

  %h4
    =@logo.description

  %br
  %br

  =button_to 'DELETE', {:action => 'destroy', :id => @logo.id},
  :method => :delete, class: 'btn-default'