<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Welcome to jessicasarahmusic.com

<p>Hi <%= @contact.name %></p>


<p>Hey thanks for you message, I'll get back to you soon.</p>

<br>

<p>regards</p>

<p>Jessica Sarah</p>


</body>
</html>