<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>


<h3>Message received</h3>


<p><%= @contact.message %></p>

<br>

<h4>From:</h4>
<p><strong><%= "#{@contact.name}" %></strong></p>

<p><%= @contact.email %></p>


</body>
</html>