<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<h3><%= @settings.email_heading %></h3>

<p><%= "#{@settings.email_greeting} #{@contact.name}" %></p>


<p><%= @settings.email_body %></p>

<br>

<p><%= @settings.email_signature %></p>


</body>
</html>