<div class="container text-center">
  <p id="original">
    <small><i>Original music and lyrics by Jessica Sarah</i></small>
  </p>

  <div class="widget_iframe" style="display:inline-block;width:597px;height:200px;margin:0;padding:0;border:0;">
    <iframe class="widget_iframe" src="http://www.reverbnation.com/widget_code/html_widget/artist_4018083?
    widget_id=50&pwc[design]=default&pwc[background_color]=%23333333&pwc[included_songs]=1&pwc[photo]=0%2C1&pwc[size]=custom"
            width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    <div class="footer_branding" style="margin-top:-5px;font-size:10px;font-family:Arial;">
      <center><a href="http://www.reverbnation.com/band-promotion/how-to-sell-music-on-itunes?utm_campaign=a_features_distribution&utm_medium=widget&utm_source=HTML5_Player&utm_content=widgetfooter_Sell music on itunes at ReverbNation.com" target="_blank" style="text-decoration:none;color:#444;">
        Sell music on itunes at ReverbNation.com</a></center></div></div>

  <div id="soundCloud">
    <iframe id="sc-widget" width="600" height="450" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/19419425&amp;
                                color=ff6600&amp;auto_play=false&amp;enable_api=true&amp;show_artwork=true"></iframe>
  </div>
  <div class="buy-link">
    <a href="https://itunes.apple.com/us/album/wooden-seas-ep/id672516033?uo=4"
       target="itunes_store" style="display:inline-block;overflow:hidden;
            background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.png) no-repeat;
            width:110px;height:40px; @media only
            screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.svg);}">
    </a>
  </div>
  <div class="buy-link">
    <div style='width:117px; height:57px; margin:0; padding:0; border:0;
            background-image:url(http://www.cdbaby.com/Images/Links/BlackScratch-Buy_Album_nothumb.png);'><a href='http://www.cdbaby.com/cd/jesswigglesworth'
      style='display:block; width:117px; height:57px; margin:0; border:0; background-color:transparent;'></a>
    </div>
  </div>
</div>

