<div class="container text-center">
  <p id="original">
    <small><i>Original music and lyrics by Jessica Sarah</i></small>
  </p>
  <!--<img id="album" height="65" src="img/woodenseas.jpg">-->
  <div id="soundCloud">
    <iframe width="600" height="450" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/19419425&amp;
                                color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
  </div>
  <div class="buy-link">
    <a href="https://itunes.apple.com/us/album/wooden-seas-ep/id672516033?uo=4"
       target="itunes_store" style="display:inline-block;overflow:hidden;
            background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.png) no-repeat;
            width:110px;height:40px; @media only
            screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.svg);}">
    </a>
  </div>
  <div class="buy-link">
    <div style='width:117px; height:57px; margin:0; padding:0; border:0;
            background-image:url(http://www.cdbaby.com/Images/Links/BlackScratch-Buy_Album_nothumb.png);'><a href='http://www.cdbaby.com/cd/jesswigglesworth'
      style='display:block; width:117px; height:57px; margin:0; border:0; background-color:transparent;'></a>
    </div>
  </div>
</div>

