<h1>Video</h1>


<div id="video-content">
  <ul class="bxslider"></ul>

  <iframe id="bxplayer" src=""
          width="342" height="280"></iframe>
</div>

<!--<script type="application/javascript">-->

//    jQuery(document).ready( function () {
//        displayVideoImages();
//    })
<!--</script>-->