
.account-invoice {

.row {
  margin-bottom: 20px;
}
  h3, h4, p {
    color: darkslategray;
  }

  form input {
    width: 200px;
    padding: 10px;
    margin: 0px;
    color: black;
  }

  .edit-delete {
    position: absolute;
    left: 0%;
    top: 5%;
    width: 40px;
  }

  .edit-delete a {
    display: inline-block;
  }

  .fa {
    display: inline-block;
  }

  .content-item {
    position: relative;
  }

  .content-item h4, .content-item p {
    margin-left: 60px;
  }

  select  {
    padding: 10px;
    font-size: 1.1em;
    margin-left: -10px;
    border: none;
    background-color: lighten(lightgrey, 10%);
    color: lighten(black, 10%);
    overflow:hidden;
    white-space:pre;
    -webkit-appearance: none;
    word-wrap: break-word;
  }
  p {
    margin-bottom: 0;
  }
  .control-group {
    margin: 0px;
  }

  table {
    border: 1px solid darkslateblue;
  }
  tr,td {
    border-top: none !important;
  }

  table, td {
    background-color: #f5f5f5;
    color: darkslategray;
  }
  th {
    background-color: darkslateblue;
    color: #f5f5f5;
  }
  .table-data {
    height: 160px;
  }

  .right-align {
    text-align: right;
  }
  .datepicker {
    width: 100px;
    text-align: center;
  }
  #invoice_amount {
    width: 60px;
  }
  #invoice_description_id {
    width: 200px;
  }
}
