<div class="container" id="bio-text">
  <p class="col-lg-6 col-md-6 col-sm-12">
    <%= image_tag '/assets/garden.jpg', id: 'bio-image1' %>
    <%= @settings.bio1.html_safe %>
  </p>

  <p class="col-lg-6 col-md-6 col-sm-12">
    <%= @settings.bio2.html_safe %>
    <%= image_tag '/assets/jess.png', id: 'bio-image2' %>
  </p>
</div>

